/* This is to modify anything outside of components */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}

body {
  font-weight: 600;
  width: 100%;
  height: 100vh;
  background: #738375;
}

ul {
  margin-left: 20px;
}

figure {
  margin-bottom: 20px;
}

a {
  text-decoration: underline;
  cursor: pointer;
  color: #541807;
  font-weight: bold;
}
