/* This is to modify anything outside of components */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  font-family: "Exo 2", sans-serif;
}

body {
  font-weight: 600;
  width: 100%;
  height: 100vh;
  background: #738375;
  overflow: hidden;
}

ul {
  margin-left: 20px;
}

figure {
  margin-bottom: 20px;
}
